* {
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  border: 1px solid grey;
  list-style-type: none;
}

.App {
  text-align: center;
  /* border: 2px solid red; */
}

.Header {
  
}

.Nav {
  
}