* {
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  /* border: 0.5px solid grey; */
  list-style-type: none;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  padding : 0 1em;
  max-width: 60rem;
  width: min(90% 1000px);
  /* margin: 0 auto; */
  margin-inline: auto;
  justify-content: center;
  color: #F4EFDC;
  background-color: #281A23;
  /* color:red; */
  
  /* border: 2px solid red; */
}

.content {
  border-top: 0.5px solid grey;
  margin-top: 2rem;
  min-height: 50vh;

}

.sectionTitle {
  background-color: #F4EFDC;
  color: #281A23
}

p {
  margin: 0;
}

.even-columns {
  display:flex;
  flex-wrap: wrap;
}

.even-columns > * {
  flex-basis: 100%;
}

nav {
  background-color: #281A23;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0px 20px;
  font-size: 1.3em;
}

nav a:hover {
  text-decoration: underline;
}

ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 1rem;
  /* background: #fff; */
}

li {
  list-style: none;
  margin-right: 20px;
  font-size: max(2vw, 18px);
  font-weight: bold;
}

  li a {
  text-decoration: none;
  color: #F4EFDC;
}

li a:visited {
  color: #F4EFDC;

}

.skillList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skillListItem {
  font-size: clamp(0.5rem, 10vw + 0.1rem, 1.2rem);
}

footer {
  position: sticky;
  bottom: 0;
}

.headshot {
border-radius: 50%;
max-width: 20%;
/* margin: 1rem; */
}


.bufferImage {
  border-radius: 5%;
  max-width: 50%;
  margin: 1rem;
  
}

.projectLogo {
  border-radius: 5%;
  max-width: 10%;
  margin: 0.5rem;
}

.logo {
  max-width: 10%;
  margin: 0.5rem;
}
