* {
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  border: 0.2px solid grey;
  list-style-type: none;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  padding : 0 1em;
  max-width: 90vw;
  margin-inline: auto;
  justify-content: center;
  color: #F4EFDC;
  background-color: #281A23;
}

.content {
  min-height: 50vh;
  margin-bottom: 20px;
  margin-top: 20px;
}

.sectionTitle {
  scroll-margin-top: 4rem;
  background-color: #F4EFDC;
  color: #281A23
}

p {
  margin: 0;
  text-align: center;
}

.even-columns-flex {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  

}

.even-columns-grid {
  /* display:flex;
  flex-wrap: wrap;
  justify-content: space-around; */
  display: grid;
  gap: 5px;
  /* overflow: hidden; */
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  /* grid-column-gap: 5px;
  grid-row-gap: 5px; */
  /* max-width: 500px; */

}

.col-30 {
  flex-basis: 30%;
}
.col-70 {
  flex-basis: 70%;
}

@media (max-width: 800px) {
  .col-30, .col-70 {
    flex: 100%;
  }
}

.col {
  display: flex;
  /* flex: 1 1 250px; */
  margin: auto;
  width: 100%
}

.col-text-left > * {
  text-align: left;
}

.col-box {
  border: 1px solid #F4EFDC;
  margin: 0.5em;
  padding-top: 1em;
  min-height: 20em;
  width: 100%;
  /* align-self: stretch */
}

.col-image-project {
  height : 20em;
}

nav {
  background-color: #281A23;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0px;
  /* overflow: hidden; */
}

nav a {
  color: white;
  text-decoration: none;
  /* margin: 0px 20px; */
  margin: 10px;
  font-size: max(2vw, 12px);
}

nav a:hover {
  text-decoration: underline;
}

ul {
  width: 100%;
  /* display: flex; */
  /* justify-content: flex-end; */
  box-sizing: border-box;
  padding: 0 1rem;
  /* background: #fff; */
}

li {
  list-style:circle;
  margin-left: 20px;
  padding: 2px;
  /* text-indent: 1em; */
  font-size: max(2vw, 18px);
  text-align: left;
  /* font-weight: bold; */
}

li a {
  text-decoration: none;
  color: #F4EFDC;
}

li a:visited {
  color: #F4EFDC;
  
}

a {
  text-decoration: underline;
  color: #F4EFDC;
}

.skillList {
  /* display: flex; */
  /* flex-wrap: wrap;
  justify-content: center; */
  /* margin-bottom: 10px; */
  /* width: 100%; */
  
}

.skillListItem {
  /* font-size: clamp(0.5rem, 10vw + 0.1rem, 1rem); */
}

footer {
  position: sticky;
  bottom: 0;
}

.headshot {
  border-radius: 50%;
  /* max-width: 20%; */
  width: 50%;
  /* margin: 1rem; */
}


.image-project {
  border-radius: 5%;
  /* max-width: 60%; */
  /* max-height: 40%; */
  height:100%;
  /* margin: 1rem; */
  
}

.projectLogo {
  border-radius: 5%;
  max-width: 0%;
  margin: 0.5rem;
}

.logo {
  max-width: 10%;
  margin: 0.5rem;
}

.col-title {
  height: 3rem;
  
}
